*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
}

.contact-section{
    background: url("../images/bg.jpg") no-repeat center;
    background-size: cover;
    padding: 40px 0 ;
    min-height: 100vh;
    

}

.contact-section h1{
    text-align: center;
    color:#ddd;}

.border{
    width: 100px;
    height: 5px;
    background: #c9a04f;
    margin: 40px auto;
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width:100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: #111;
    padding: 20px 40px;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #c9a04f;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #c9a04f;
    color:#fff;
    padding: 12px 50px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #c9a04fb6;
}